apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-app
  template:
    metadata:
      labels:
        app: api-app
    spec:
      containers:
        - name: api-app
          image: beni2/api-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: MYSQL_HOST
              value: "mysql-0.mysql"
            - name: MYSQL_USER
              value: "root"
            - name: MYSQL_PASSWORD
              value: "Benny31."
            - name: MYSQL_DB
              value: "weapons_db"
