apiVersion: v1
kind: Service
metadata:
  name: api-app
  labels:
    app: api-app
spec:
  selector:
    app: api-app
  ports:
    - port: 8000
      targetPort: 8000
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: api-app
  labels:
    app: api-app
spec:
  to:
    kind: Service
    name: api-app
  port:
    targetPort: 8000
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
